* {
    /*overflow-x: hidden;*/
    color: #505962;
    border: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}

.no-repeat {
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
}

.main {
    padding: 0 !important;
}

/*---- navbar-----*/
.navbar button {
    color: white;
}

.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9 rem;
    letter-spacing: 0.1 rem;
    background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand {
    height: 4 rem;
}

.navbar ul li a {
    color: white !important;
}

.navbar ul li a:hover {
    color: #f04b4c !important;
}

.navbar-brand img {
    height: 3.5rem;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin-left: 0.7rem !important;
}

.navbar ul li:last-child {
    margin-left: 40px !important;
}

.go-right {
    justify-content: right;
    color: white !important;
}

.show .show {
    background: rgba(0, 0, 0, 0.6) !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9 rem;
    letter-spacing: 0.1 rem;

}

/*---slider-----*/
.carousel-item {
    height: 100vh;
}

.carousel-caption {
    width: 80%;
    position: absolute !important;
    right: 0%;
    top: 35%;
    text-align: center;
}

.carousel-caption h1 {
    width: 80% !important;
    font-weight: bold;
    font-size: 4vw;
    color: #f04b4c;
}

.carousel-caption p {
    margin-left: 4vw;
    text-align: center;
    font-weight: 600;
    width: 80% !important;
    font-size: 2vw;
    color: white;
}

.btn-primary {
    align-items: center;
    padding: auto !important;
    margin-left: -10vw;
    background-color: #f04b4c !important;
    margin-right: 2vh;
    width: 15vw;
    font-size: 1.5vw;
    height: 6vw;
    vertical-align: middle !important;

}

.btn-primary:hover {
    background-color: #782000 !important;

}

.btn-outline-secondary {
    height: 6vw;
    padding: auto !important;
    font-size: 1.5vw;
    width: 15vw;
    margin-left: 2vh;
    color: white !important;
    border-color: white !important;
}

.btn-outline-secondary:hover {
    color: black !important;
    background-color: white !important;
}

.Foramtion-section {
    margin-top: 0;
    text-align: center;
    padding: 2vh;
}

.Foramtion-section h1 {
    margin-bottom: 2vh;
    color: #193c4e;
}

.card-image {
    width: 55px;
}

.Formation-card {
    padding: 3vh 0;
    background: #193c4e;
    border-radius: 1vw;
}

.Formation-card h3 {
    color: #f04b4c;
}

.Formation-card ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
}



.Formation-card ul li {
    padding: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

.Formation-card ul li p {
    margin: auto;
    color: white !important;
    font-weight: 400;
    font-size: 1.8vw;
    margin-left: 1vw;
}

@media (max-width: 576px) {
    .Formation-card ul li p {
        font-size: 4vw;
        margin-right: 2vw;
    }

    .Formation-card {
        margin: 5vh 0;
    }


}